.card:hover{
    background-color: var(--mantine-primary-color-0);
    cursor: pointer;
}
.card {
    cursor: pointer;
    transition: background-color 0.3s;
  }
.selectedCard{
    background-color: var(--mantine-primary-color-0);
}